PORT=3002
MONGO_URL=mongodb://localhost:27017
DB_NAME=sgsma2026
REDIS_URL=redis://localhost:6379
MQTT_HOST=localhost
MQTT_PORT=1883
JWT_SECRET=dev_secret_change_in_prod
JWT_TTL=28800
ADMIN_USER=admin
# Contraseña por defecto: sgsma2026 — cambiar antes de producción
ADMIN_PASS_HASH=$2a$10$jBV0lur3D2YU7oDsaj6T3uFETIWL83gIv9pgS/VOUqJB0L01gFabS
NODE_ENV=development
